.ui.animated.selection.list
  - @repo.commiters.each do |committer| 
    = link_to(chart_repositories_path(owner: @repo.owner, name: @repo.name, user: committer.login), {class: 'item', remote: true, id: 'committer_link'}) do
      %image.ui.avatar.image{src: "http://www.gravatar.com/avatar/#{committer.gravatar_id}"}
      .content
        .header= committer.login
        = "#{committer.contributions} commits"