- css = timeline_css;
#timeline{style: ""}
  .navigation{style: "overflow: auto;", id: "navigation"}
    .timenav{style: "left: 25px;top: #{css[:top_time_nav]}px; vertical-align: top;"}
      .content{style: "width: 1150px; "}
        - commits_year = @repo.commits.asc(:date).map{|c| c.date.year}.uniq
        - count_month = 0;prev_commit = nil;
        - @repo.commits.asc(:date).each do |commit|
          - commit_pos = 13+(150*12*commits_year.index(commit.date.year))+(150*(commit.date.month.to_i-1))+(5*commit.date.day.to_i)
          - if !prev_commit.nil? && ((commit.date - prev_commit.date).to_i <=29 )
            - count_month +=1
            - prev_commit = commit
          - else
            - prev_commit= commit ; count_month = 0
          .marker{id: "2009,2-0", style: "left: #{commit_pos}px;"}
            .flag{style: "top: #{180-(45*count_month)}px;"}
              .flag-content
                .thumbnail
                  - unless commit.commiter.nil?
                    %img{height: "32px", src: "http://www.gravatar.com/avatar/#{commit.commiter.gravatar_id}", width: "32px"}/
                %h3= commit.message
            .dot
            .line
              .event-line
      .time
        .time-interval-minor
          .minor{style: "width: #{css[:width]}px; left: -33px;"}
        .time-interval-major
          - css[:year_pos].each do|year, v|
            .major{style: "left: #{v[:pos]}px; text-indent: -14px;"}= year
        .time-interval{style: ""}
          - css[:year_pos].each do |y, vy| 
            - vy[:months].each do |k,v|
              ._idd{style: "left: #{v}px; text-indent: -12px;"}= k
    .timenav-background{style: "top: 0px; width: #{css[:width]}px; height: #{css[:height_time_back]}px;"}
      - css[:year_pos].each do |y, v|
        .timenav-line{style: "left: #{24+v[:pos]}px; height: #{css[:height_time_back]}px;"}
  


	